[Unit]
Description=OBAT Daemon Service v1

[Service]
ExecStart=/usr/bin/node /var/obat/i2t.js
Restart=always
User=jturner
Group=midvale
Environment=PATH=/usr/bin:/usr/local/bin
# Environment=NODE_ENV=production
WorkingDirectory=/var/obat

[Install]
WantedBy=multi-user.target
